.cart-total-label {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.cart-total-total-price {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #828282;
}

.total-container {
  display: flex;
  justify-content: space-between;
  padding: 22px 14px 20px 14px;
  border-top: 2px solid #e0e0e0;
}
